.dots-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  --render-scale: 2;
  opacity: 0;
  animation: dots-fade 1.5s ease-out forwards;
}
.dots-canvas {
  height: calc(100% * 2);
    width: calc(100% * 2);
    transform-origin: top left;
    transform: scale(0.5);
    position: relative;
    filter: invert(1);
}

@keyframes dots-fade {
  0% {
    opacity: 0;
    transform: scale(.9);
  }
  100% {
    opacity: .5;
    transform: scale(1);
  }
}

* {
  font-family:sans-serif;
}
.logo-div {
  background: linear-gradient(90deg, #888ea9, #1c28d6);
  display: inline-flex;
  border-radius: 50%;
  border: 1px solid #3e3ed2;
  padding: 5px;
  & p{
    font-size: 18px;
    font-weight: 600;
    color: white;
    padding: 5px;
    margin: 0;;
  }
}
.nav-ui {
  display: flex;
  justify-content: space-evenly;
  & li {
    display: flex;
    padding: 0 10px;
    & a {
      text-decoration: none;
    }
  }
}
